.spacer{
  flex: 100 1 auto;
}

.small-spacer{
  flex: 8px;
}

.card-padding{
  padding: 16px 16px 16px 16px;
}

.card-wrapper {
  max-width: 320px;
  min-width: 220px;
}

.imageLimiter{
  padding: 10px 10px 10px 10px;
  width: 220px;
  height: 120px;
}

.reshaper{
  height: 100px;
}

.padder{
  padding: 12px 12px 12px 12px;
}
mat-card{
   width: 250px;
   height: 500px;
 }

body {
  height: 100vh;
  width: auto;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

