<html class="mat-app-background">
<mat-toolbar>
  <span>Notice My Car</span>
  <span class="spacer"></span>
  <span><button mat-raised-button color="accent" (click)="toSettings()">Ustawienia</button></span>
  <span class="small-spacer"></span>
  <span><button mat-raised-button color="accent" (click)="logOut()">Wyloguj się</button></span>
</mat-toolbar>
<div fxLayoutAlign="end" fxLayoutGap="10px">
  <div fxLayoutAlign="center">
    <mat-icon>wb_sunny</mat-icon>
    <mat-slide-toggle [checked]="checked" (click)="setTheme()"></mat-slide-toggle>
    <mat-icon>brightness_3</mat-icon>
  </div>
</div>
