<mat-toolbar>
  <span>Notice My Car</span>
  <span class="spacer"></span>
  <span><button mat-raised-button color="accent" (click)="toCreateNotice()">Stwórz Ogłoszenie</button></span>
  <span class="small-spacer"></span>
  <span><button mat-raised-button color="accent" (click)="logOut()">Wyloguj się</button></span>
</mat-toolbar>
<mat-toolbar class="reshaper" fxLayoutAlign="space-between" color='accent' fxLayout="row">
  <div fxFlex="20" fxLayoutAlign="left center">
    <h1>Witaj! </h1>
  </div>
</mat-toolbar>
<body class="mat-app-background" fxFill fxLayoutAlign="center">
<div fxLayoutGap="16px grid" fxLayout="center wrap" fxFlex="80" class="card-padding">
  <div *ngFor="let card of noticeArray" fxLayout="row" class="card-padding">
    <br>
    <!--    *ngIf="card.statuses[0].name === 'aktywne'"-->
    <mat-card>
      <mat-card-title>
        {{card.title}}
      </mat-card-title>
      <mat-card-subtitle>
        Autor: {{card.notice_author}}
      </mat-card-subtitle>
      <mat-card-subtitle>
        Email: {{card.notice_author_email}}
      </mat-card-subtitle>

      <mat-card-content>
        <h4>Marka: {{card.mark}}</h4>
        <h4>Model: {{card.model}}</h4>
        <h4>Przebieg: {{card.mileage}} km</h4>
        <h4>Cena: {{card.price}} zł</h4>
      </mat-card-content>
      <br>
      <mat-card-content fxLayoutAlign="center">
        <img alt="zdjęcie" mat-card-image src={{card.image_url}} class="imageLimiter">
      </mat-card-content>

      <mat-card-footer fxLayout="end" fxLayoutAlign="center end" class="padder">
        <span><button mat-raised-button color="accent" (click)="toShowFullInformation(card)">Więcej</button></span>
      </mat-card-footer>
    </mat-card>
  </div>
</div>
</body>
<footer fxLayoutAlign="center">
  <p></p>
  <p>Car-NoticeZMP</p>
</footer>
