<mat-toolbar>
  <span>Notice My Car</span>
  <span class="spacer"></span>
  <span><button mat-raised-button color="accent" (click)="toCreateNotice()">Stwórz Ogłoszenie</button></span>
  <span class="small-spacer"></span>
  <span><button mat-raised-button color="accent" (click)="toNotices()">Wszystkie</button></span>
  <span class="small-spacer"></span>
  <span><button mat-raised-button color="accent" (click)="logOut()">Wyloguj się</button></span>
</mat-toolbar>
<body class="mat-app-background" fxFlexFill fxLayoutAlign="center">

<div fxLayout="column" fxFlex="60" fxLayoutGap="50px" >
  <div fxLayoutAlign="center">
    <img alt="zdjęcie" class="imageLimiter" src={{card.image_url}}>
  </div>
  <div fxLayoutAlign="center"><h1>{{card.title}}</h1></div>
  <div fxLayout="row" fxFlex="45" fxLayoutGap="30vw">
    <div fxLayout="column">
      <h4>Ogłoszenie wystawił: {{card.notice_author}}</h4>
      <h4>Kontakt email: {{card.notice_author_email}}</h4>
      <img alt="zdjęcie" class="avatarLimiter" src={{card.author_avatar}}>
    </div>
    <div fxLayout="column" fxLayoutGap="16px">
      <h4>Rok produkcji: {{card.year}}</h4>
      <h4>Przebieg: {{card.mileage}} km</h4>
      <h4>Kategoria: {{card.body}}</h4>
      <h4>Marka: {{card.mark}}</h4>
      <h4>Model: {{card.model}}</h4>
      <h4>Cena: {{card.price}} zł</h4>
    </div>
  </div>
</div>

</body>

