
<mat-toolbar>
  <span>Notice My Car</span>
  <span class="spacer"></span>
  <span><button mat-raised-button color="accent" (click)="openSignIn()">Zaloguj się</button></span>
  <span class="small-spacer"></span>
  <span><button mat-raised-button color="accent" (click)="openSignUp()">Zarejestruj się</button></span>
</mat-toolbar>

<body class="mat-app-background" fxLayoutAlign="center center">

<div fxLayoutAlign="center center" fxLayout="column">
  <img class="title" src="assets/Logo2.png" alt="Notice My Car">
</div>
</body>
