<html class="mat-app-background">
<div fxLayoutAlign="end" fxLayoutGap="10px">
  <div fxLayoutAlign="center center">
    <mat-icon>wb_sunny</mat-icon>
    <mat-slide-toggle [checked]="checked" (click)="setTheme()"></mat-slide-toggle>
    <mat-icon>brightness_3</mat-icon>
  </div>
</div>

<body fxFill class="mat-app-background" fxLayoutAlign="center center">

<div fxLayoutAlign="center center" fxLayout="column">
  <br>
  <mat-card-content fxLayoutGap="15%" fxLayout="column">
    <div class="main-menu" fxLayoutGap="2%" fxLayout="column">
    </div>
  </mat-card-content>
</div>
</body>
</html>
