.accent{
  size: 24px;
  font-weight: bolder;
}

.spacer{
  flex: 50 1 auto;
}

.small-spacer{
  flex: 1 1 auto;
}

body { height: 100vh; width: auto; margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

