<html class="mat-app-background">
<mat-toolbar>
  <span>Notice My Car</span>
  <span class="spacer"></span>
  <span><button mat-raised-button color="accent" (click)="openSignUp()">Sign Up</button></span>
</mat-toolbar>

<body fxFill class="mat-app-background" fxLayoutAlign="center center">

<div fxLayoutAlign="center center" fxLayout="column">
  <h2>Zaloguj się</h2>
  <mat-form-field appearance="fill">
    <mat-label>Podaj adres e-mail:</mat-label>
    <input required matInput [(ngModel)]="signInUserModel.email">
    <button matSuffix mat-icon-button disabled></button>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Podaj Hasło</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="signInUserModel.password">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>
  <div fxLayoutGap="2%" fxLayout="column" >
    <button fxFill mat-raised-button (click)="signIn()" type="submit">Zaloguj się! </button>
    <app-google></app-google>
  </div>
  </div>
</body>
</html>
