<mat-toolbar>
  <span>Notice My Car</span>
  <span class="spacer"></span>
  <span><button mat-raised-button color="accent" (click)="toAllNotices()">Wszystkie</button></span>
  <span class="small-spacer"></span>
  <span><button mat-raised-button color="accent" (click)="logOut()">Wyloguj się</button></span>
</mat-toolbar>
<body class="mat-app-background" fxLayoutAlign="center center" >
<div fxLayout="column" fxLayoutGap="2%" fxLayoutAlign="center center">
  <h2>Dodaj ogłoszenie! </h2>
  <br>
  <div fxLayout="row" fxLayoutAlign="center wrap">
    <div fxLayout="column" fxLayoutGap="5%" fxLayoutAlign="center center">
      <mat-form-field appearance="fill">
        <mat-label>Tytuł ogłoszenia</mat-label>
        <input required matInput [(ngModel)]="noticeModel.title">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Marka</mat-label>
        <input matInput [(ngModel)]="noticeModel.mark">
      </mat-form-field>
      <mat-form-field appearance="fill" class="padding-fix">
        <mat-label>Model</mat-label>
        <input matInput [(ngModel)]="noticeModel.model">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Kolor pojazdu</mat-label>
        <input matInput [(ngModel)]="noticeModel.color">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Typ Nadwozia</mat-label>
        <input matInput [(ngModel)]="noticeModel.body">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Przebieg</mat-label>
        <input matInput [(ngModel)]="noticeModel.mileage">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Rocznik</mat-label>
        <input matInput [(ngModel)]="noticeModel.year">
      </mat-form-field>
      <mat-form-field appearance="fill" class="padding-fix">
        <mat-label>Cena</mat-label>
        <input matInput [(ngModel)]="noticeModel.price">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Dodatkowe informacje</mat-label>
        <textarea matInput [(ngModel)]="noticeModel.message"></textarea>
      </mat-form-field>
      <form [formGroup]="uploadForm">
        <div class="preview" *ngIf="imgFile" fxLayoutGap="250px" >
          <img [src]="imgFile" style="width:400px; height:250px">
        </div>

      <div class="form-group">
        <label for="file">File</label>
        <input type="file" class="form-control" id="file" formControlName="file" (change)="onImageChange($event)">
      </div>
      </form>
      <div fxLayoutGap="10%" fxLayout="column">
        <button fxFill mat-raised-button (click)="storeNotice()" type="submit">Wyślij ogłoszenie</button>
      </div>
    </div>
  </div>
</div>
</body>

